@font-face {
	font-family:"webfonts/GillSansStd";
	 src: url("webfonts/Conv_GillSansStd.eot");
	 src: url("webfonts/Conv_GillSansStd.eot?#iefix") format("embedded-opentype"),
          url("webfonts/Conv_GillSansStd.woff") format("woff"),
          url("webfonts/Conv_GillSansStd.ttf")  format("truetype"),
          url("webfonts/Conv_GillSansStd.svg#svgFontName") format("svg");
}
@font-face {
	font-family:"webfonts/GillSansStd-Bold";
	 src: url("webfonts/Conv_GillSansStd-Bold.eot");
	 src: url("webfonts/Conv_GillSansStd-Bold.eot?#iefix") format("embedded-opentype"),
          url("webfonts/Conv_GillSansStd-Bold.woff") format("woff"),
          url("webfonts/Conv_GillSansStd-Bold.ttf")  format("truetype"),
          url("webfonts/Conv_GillSansStd-Bold.svg#svgFontName") format("svg");
}
@font-face {
	font-family:"webfonts/GillSansStd-Light";
	 src: url("webfonts/Conv_GillSansStd-Light.eot");
	 src: url("webfonts/Conv_GillSansStd-Light.eot?#iefix") format("embedded-opentype"),
          url("webfonts/Conv_GillSansStd-Light.woff") format("woff"),
          url("webfonts/Conv_GillSansStd-Light.ttf")  format("truetype"),
          url("webfonts/Conv_GillSansStd-Light.svg#svgFontName") format("svg");
}
